{#{% extends 'tools.html' %}#}
{##}
{#{% block tool-container %}#}
<div class="container">
    <h1 class="title">
        searchmap
    </h1>

    <label tabindex="1">
        <input class="search" placeholder="search..." type="text"
               hx-get="{% url 'core:searchmap:search' %}"
               hx-target="#result"
               hx-trigger="keyup delay:500ms"
               name="searchmap"
        >

    </label>

    <div id="result" class="tool-container">

        <div id="result-box" class="result-box">
            just start typing, i know, you can!
        </div>
    </div>
</div>
{#{% endblock %}#}