.top-content {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column; /* Включаем вертикальное расположение */
    align-items: center; /* Центрируем элементы по горизонтали */
    text-align: center; /* Центрируем текст внутри элементов */
}


.art {
    line-height: 120%;
    font-size: 16px;
    /*user-select: none;*/
    /*max-width: 400px;*/
}

.title {
    margin-top: 36px;

    font-family: "JetBrains Mono", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    /*max-width: 150px;*/
}

.cards {
    margin-top: 120px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.card {
    padding: 20px 32px;


    border: var(--main-green) 1px solid;
    min-height: 200px;
    box-sizing: border-box;
}

.card-top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.card-title {
    font-weight: lighter;
    font-size: 20px;
}

.card-update-date {
    font-size: 12px;
}

.card-description {
    font-size: 16px;
    line-height: 140%;
}

@media (max-width: 1450px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 1100px) {
    .cards {
        grid-template-columns: 1fr;
    }
}