


main, header .container {
    margin: 0;
}

main {
    position: relative;
    display: flex;
}

main .container {
    position: absolute;

    left: 30%;
    /*margin: 0 256px;*/
}

main .title {
    /*position: absolute;*/
    /*left: 50%;*/

    margin-top: 64px;
    font-size: 32px;
}
aside {
    display: inline-block;
    min-width: 256px;

    border-right: 2px var(--main-green) solid;
    border-bottom: 2px var(--main-green) solid;
    border-left: 2px var(--main-green) solid;

}

.tools {
    margin-bottom: 32px;
    padding: 12px 8px;
}


.tool {
    border-bottom: var(--main-green) 1px solid;
    padding: 6px 8px;
}

.tool:hover {
    color: var(--background-color);
    background-color: var(--main-green);
}
.active {
    color: var(--background-color);
    background-color: var(--main-green);
}

