{% extends 'base.html' %}
{% load static %}

{% block title %}Main page{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="top-content">
            <pre class="art">
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢲⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠄⠂⢉⠤⠐⠋⠈⠡⡈⠉⠐⠠⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢀⡀⢠⣤⠔⠁⢀⠀⠀⠀⠀⠀⠀⠀⠈⢢⠀⠀⠈⠱⡤⣤⠄⣀⠀⠀⠀⠀⠀
⠀⠀⠰⠁⠀⣰⣿⠃⠀⢠⠃⢸⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠈⢞⣦⡀⠈⡇⠀⠀⠀
⠀⠀⠀⢇⣠⡿⠁⠀⢀⡃⠀⣈⠀⠀⠀⠀⢰⡀⠀⠀⠀⠀⢢⠰⠀⠀⢺⣧⢰⠀⠀⠀⠀
⠀⠀⠀⠈⣿⠁⡘⠀⡌⡇⠀⡿⠸⠀⠀⠀⠈⡕⡄⠀⠐⡀⠈⠀⢃⠀⠀⠾⠇⠀⠀⠀⠀
⠀⠀⠀⠀⠇⡇⠃⢠⠀⠶⡀⡇⢃⠡⡀⠀⠀⠡⠈⢂⡀⢁⠀⡁⠸⠀⡆⠘⡀⠀⠀⠀⠀
⠀⠀⠀⠸⠀⢸⠀⠘⡜⠀⣑⢴⣀⠑⠯⡂⠄⣀⣣⢀⣈⢺⡜⢣⠀⡆⡇⠀⢣⠀⠀⠀⠀
⠀⠀⠀⠇⠀⢸⠀⡗⣰⡿⡻⠿⡳⡅⠀⠀⠀⠀⠈⡵⠿⠿⡻⣷⡡⡇⡇⠀⢸⣇⠀⠀⠀
⠀⠀⢰⠀⠀⡆⡄⣧⡏⠸⢠⢲⢸⠁⠀⠀⠀⠀⠐⢙⢰⠂⢡⠘⣇⡇⠃⠀⠀⢹⡄⠀⠀
⠀⠀⠟⠀⠀⢰⢁⡇⠇⠰⣀⢁⡜⠀⠀⠀⠀⠀⠀⠘⣀⣁⠌⠀⠃⠰⠀⠀⠀⠈⠰⠀⠀
⠀⡘⠀⠀⠀⠀⢊⣤⠀⠀⠤⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠤⠄⠀⢸⠃⠀⠀⠀⠀⠀⠃⠀
⢠⠁⢀⠀⠀⠀⠈⢿⡀⠀⠀⠀⠀⠀⠀⢀⡀⠀⠀⠀⠀⠀⠀⢀⠏⠀⠀⠀⠀⠀⠀⠸⠀
⠘⠸⠘⡀⠀⠀⠀⠀⢣⠀⠀⠀⠀⠀⠀⠁⠀⠃⠀⠀⠀⠀⢀⠎⠀⠀⠀⠀⠀⢠⠀⠀⡇
⠀⠇⢆⢃⠀⠀⠀⠀⠀⡏⢲⢤⢀⡀⠀⠀⠀⠀⠀⢀⣠⠄⡚⠀⠀⠀⠀⠀⠀⣾⠀⠀⠀
⢰⠈⢌⢎⢆⠀⠀⠀⠀⠁⣌⠆⡰⡁⠉⠉⠀⠉⠁⡱⡘⡼⠇⠀⠀⠀⠀⢀⢬⠃⢠⠀⡆
⠀⢢⠀⠑⢵⣧⡀⠀⠀⡿⠳⠂⠉⠀⠀⠀⠀⠀⠀⠀⠁⢺⡀⠀⠀⢀⢠⣮⠃⢀⠆⡰⠀
⠀⠀⠑⠄⣀⠙⡭⠢⢀⡀⠀⠁⠄⣀⣀⠀⢀⣀⣀⣀⡠⠂⢃⡀⠔⠱⡞⢁⠄⣁⠔⠁⠀
⠀⠀⠀⠀⠀⢠⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⠉⠁⠀⠀⠀⠀
⠀⠀⠀⠀⠀⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀
            </pre>
                <pre class="title">
888888  dP"Yb   dP"Yb  88     .dP"Y8
  88   dP   Yb dP   Yb 88     `Ybo."
  88   Yb   dP Yb   dP 88  .o o.`Y8b
  88    YbodP   YbodP  88ood8 8bodP'
</pre>
            </div>
            <div class="cards">
                <a href="#">
                    <div class="card">
                        <div class="card-top-content">
                            <p class="card-title">Nmap</p>
                            <p class="card-update-date">Updated: 2024-01-01</p>
                        </div>
                        <p class="card-description">
                            Is an open-source tool for network discovery and security auditing, widely used to
                            detect
                            hosts,
                            services, and vulnerabilities.
                        </p>
                    </div>
                </a>
                <a href="{% url 'core:tools' %}">
                    <div class="card">
                        <div class="card-top-content">
                            <p class="card-title">searchmap</p>
                            <p class="card-update-date">Updated: 2024-01-01</p>
                        </div>
                        <p class="card-description">
                            My own development :))
                            The program allows you to search for information from installed sites, usually this
                            telegra.ph
                            and
                            teletype.in </p>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <div class="card-top-content">
                            <p class="card-title">Dirsearch</p>
                            <p class="card-update-date">Updated: 2024-01-01</p>
                        </div>
                        <p class="card-description">
                            Dirsearch is known for its speed and efficiency. It supports various request methods and
                            can
                            handle
                            different types of authentication and proxies. </p>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <div class="card-top-content">
                            <p class="card-title">Gobuster</p>
                            <p class="card-update-date">Updated: 2024-01-01</p>
                        </div>
                        <p class="card-description">
                            Gobuster is a fast and flexible tool written in Go. It can brute force directories,
                            files,
                            and
                            DNS
                            subdomains effectively. </p>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <div class="card-top-content">
                            <p class="card-title">Amass</p>
                            <p class="card-update-date">Updated: 2024-01-01</p>
                        </div>
                        <p class="card-description">
                            Amass is a comprehensive tool for in-depth DNS enumeration and subdomain discovery. </p>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <div class="card-top-content">
                            <p class="card-title">Subfinder</p>
                            <p class="card-update-date">Updated: 2024-01-01</p>
                        </div>
                        <p class="card-description">
                            Subfinder is a fast and passive subdomain enumeration tool. It focuses on passive data
                            sources
                            to
                            find subdomains, reducing the chance of being detected by the target. </p>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <div class="card-top-content">
                            <p class="card-title">whatweb</p>
                            <p class="card-update-date">Updated: 2024-01-01</p>
                        </div>
                        <p class="card-description">
                            WhatWeb is a powerful tool for identifying and analyzing web technologies used on
                            websites. </p>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <div class="card-top-content">
                            <p class="card-title">---</p>
                            <p class="card-update-date">Updated: 2024-01-01</p>
                        </div>
                        <p class="card-description">
                            Is an open-source tool for network discovery and security auditing, widely used to
                            detect
                            hosts,
                            services, and vulnerabilities.
                        </p>
                    </div>

                </a>
            </div>
        </div>
    </main>

{% endblock %}