{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/tools.css' %}">
    <link rel="stylesheet" href="{% static 'css/tool-detail.css' %}">
{% endblock %}
{% block title %}Tools{% endblock %}

{% block content %}
    <main>
        <aside>
            <div class="tools">
                <a href="#">
                    <div class="tool">Nmap</div>
                </a>
                <a href="{% url 'core:searchmap:index' %}">
                    <div class="tool">searchmap</div>
                </a>
                <a href="#">
                    <div class="tool">dirsearch</div>
                </a>
                <a href="#">
                    <div class="tool">gobuster</div>
                </a>
                <a href="#">
                    <div class="tool">amass</div>
                </a>
                <a href="#">
                    <div class="tool">subfinder</div>
                </a>
                <a href="#">
                    <div class="tool">whatweb</div>
                </a>
            </div>
        </aside>

        <section id="main">
            {% block tool-container %}
            {% endblock %}
        </section>
    </main>
{% endblock %}