{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/tools.css' %}">
    <link rel="stylesheet" href="{% static 'css/tool-detail.css' %}">
{% endblock %}
{% block title %}Tools{% endblock %}

{% block content %}
    <main>
        <aside>
            <div class="tools">
                <a href="#">
                    <div class="tool">Nmap</div>
                </a>
                <a href="{% url 'core:searchmap:index' %}">
                    <div class="tool fill">searchmap</div>
                </a>
                <a href="#">
                    <div class="tool">dirsearch</div>
                </a>
                <a href="#">
                    <div class="tool">gobuster</div>
                </a>
                <a href="#">
                    <div class="tool">amass</div>
                </a>
                <a href="#">
                    <div class="tool">subfinder</div>
                </a>
                <a href="#">
                    <div class="tool">whatweb</div>
                </a>
            </div>
        </aside>

        <section id="main">
            <div class="container">
                <h1 class="title">
                    searchmap
                </h1>

                <label>
                    <input class="search" placeholder="search..." type="text"
                           hx-get="{% url 'core:searchmap:search' %}"
                           hx-target="#result"
                           hx-trigger="keyup delay:400ms"
                           name="searchmap"
                    >

                </label>

                <div id="result" class="tool-container">

                </div>
            </div>
        </section>
    </main>
{% endblock %}